* {
  background-color: black;
  color: red;
}

h1 {
  text-align: center;
  max-width: 600px;
  border-style: double;
  border-color: darkgray;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

p {
  max-width: 600px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.input-button {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}